@import "base.scss";

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.menu__list {
    display: flex;
}

.header__logo {
    color: $blue;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;

    span {
        color: $pink;
    }
}

.menu__link {
    font-size: 1.25em;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.85);
    margin: 0 0 0 52px;
}