@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

[class*='__container'] {
  max-width: 972px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.page {
  flex: 1 1 auto;
}

.main-block {
  max-width: 934px;
  margin: 73px 0 0 0;
}

.main-block__container {
  display: flex;
  align-items: center;
}
.main-block__container img {
  float: right;
  max-width: 100%;
  max-height: 100%;
}

.main-block__text {
  display: flex;
  flex-direction: column;
}

.main-block__title {
  font-size: 3em;
  color: #1caeed;
  max-width: 455px;
}

.main-block__subtitle {
  color: rgba(0, 0, 0, 0.6);
  line-height: 25px;
  font-size: 1.5em;
  margin: 7px 0 0 0;
}

.benefits {
  margin: 86px 0 0 0;
}

.pricing__cell {
  padding: 0 0 10px 0;
}

.benefits__container {
  display: flex;
  justify-content: space-around;
}

.cell__text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.35em;
  line-height: 21.09px;
  max-width: 122px;
  margin: 10px 0 0 0;
}

.our-products {
  margin: 140px 0 0 0;
}

.our-products__container {
  display: flex;
  min-width: 0;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #66a5c0;
  font-size: 1.78em;
  line-height: 28.13px;
  margin: 0 0 40px 0;
}

.our-products__img {
  float: right;
}

.our-products__text {
  float: left;
  display: flex;
  flex-direction: column;
}

.our-products__title {
  font-size: 2.65em;
  color: #1caeed;
}
.our-products__title span {
  color: #fb49f4;
}

.our-products__subtitle {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.2em;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 36px 0 0 0;
  max-width: 290px;
}

.swiper {
  max-width: 100%;
  max-height: 100%;
}

.swiper-slide {
  text-align: center;
}
.swiper-slide img {
  max-width: 100%;
}

.swiper-navigation {
  position: relative;
  margin: 162px 0 0 0;
}

.swipe-button-next,
.swipe-button-prev {
  border: solid #fb49f4;
  border-width: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  width: 13px;
  height: 26px;
}

.swipe-button-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.swipe-button-prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pricing {
  margin: 102px 0 47px 0;
}

.pricing__title {
  text-align: center;
  font-size: 1.75em;
  color: #66a5c0;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 47px 0;
}

.pricing__cells {
  display: flex;
  justify-content: space-around;
}

.pricing__cell {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  width: 268px;
  height: 425px;
  text-align: center;
  background-color: #fbfbfb;
  color: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
  border-radius: 21px;
  box-shadow: 0px 8.33333px 25px rgba(0, 0, 0, 0.15);
}
.pricing__cell:hover {
  background-color: #0e697d;
  color: #fff;
  cursor: default;
  height: 453px;
}

.pricing__button {
  width: 80%;
}

.pricing__cell:hover .button {
  background-color: #fff;
  color: #0e697d;
  margin: 0 auto;
}
.pricing__cell .type {
  font-size: 1.75em;
  font-weight: 700;
  margin: 34px 0 58px 0;
}
.pricing__cell .price {
  font-size: 2.7em;
  line-height: 43.95px;
}
.pricing__cell .benefits {
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 190px;
  text-align: center;
  padding: 28px 0 0 0;
  margin: 0 auto;
  font-size: 1.4em;
}
.pricing__cell .benefits li {
  list-style: none;
  margin: 15px 0;
}
.pricing__cell .button {
  margin: 0 auto;
  background-color: #0e697d;
  font-size: 1.33em;
  width: 212px;
  height: 51px;
  text-align: center;
  border-radius: 5.20833px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners {
  background-color: #fb49f4;
  max-height: 207px;
  max-width: 100vw;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.partners h1 {
  font-size: 1.75em;
  color: #fff;
  padding: 32px 0 0 0;
}

.partners_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
} /*# sourceMappingURL=page.css.map */
